.frame {
    width: 60vmin;
    height: 80vmin;
    background: pink;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }
  .frame .cell {
    width: calc(100% + 0.5px);
    height: calc(100% + 0.5px);
    background-image: var(--img);
    background-size: 900% 1200%;
  }
  .frame .cell:nth-of-type(1) {
    background-position: 0% 0%;
    transform: rotate(0.25turn);
    transition: all 1.5857774s;
  }
  .frame .cell:nth-of-type(2) {
    background-position: -100% 0%;
    transform: rotate(0.25turn);
    transition: all 1.48306996s;
  }
  .frame .cell:nth-of-type(3) {
    background-position: -200% 0%;
    transform: rotate(0.25turn);
    transition: all 1.39100912s;
  }
  .frame .cell:nth-of-type(4) {
    background-position: -300% 0%;
    transform: rotate(0.25turn);
    transition: all 1.03094801s;
  }
  .frame .cell:nth-of-type(5) {
    background-position: -400% 0%;
    transform: rotate(0.25turn);
    transition: all 1.48816862s;
  }
  .frame .cell:nth-of-type(6) {
    background-position: -500% 0%;
    transform: rotate(0.25turn);
    transition: all 1.75035178s;
  }
  .frame .cell:nth-of-type(7) {
    background-position: -600% 0%;
    transform: rotate(0.25turn);
    transition: all 1.95639944s;
  }
  .frame .cell:nth-of-type(8) {
    background-position: -700% 0%;
    transform: rotate(0.25turn);
    transition: all 1.52018506s;
  }
  .frame .cell:nth-of-type(9) {
    background-position: -800% 0%;
    transform: rotate(-0.25turn);
    transition: all 1.50217733s;
  }
  .frame .cell:nth-of-type(10) {
    background-position: 0% -100%;
    transform: rotate(0.25turn);
    transition: all 1.25414511s;
  }
  .frame .cell:nth-of-type(11) {
    background-position: -100% -100%;
    transform: rotate(0.25turn);
    transition: all 1.87399051s;
  }
  .frame .cell:nth-of-type(12) {
    background-position: -200% -100%;
    transform: rotate(0.25turn);
    transition: all 1.89334377s;
  }
  .frame .cell:nth-of-type(13) {
    background-position: -300% -100%;
    transform: rotate(-0.25turn);
    transition: all 1.58087337s;
  }
  .frame .cell:nth-of-type(14) {
    background-position: -400% -100%;
    transform: rotate(-0.25turn);
    transition: all 1.42727491s;
  }
  .frame .cell:nth-of-type(15) {
    background-position: -500% -100%;
    transform: rotate(0.25turn);
    transition: all 1.22753954s;
  }
  .frame .cell:nth-of-type(16) {
    background-position: -600% -100%;
    transform: rotate(0.25turn);
    transition: all 1.96072842s;
  }
  .frame .cell:nth-of-type(17) {
    background-position: -700% -100%;
    transform: rotate(0.25turn);
    transition: all 1.09667982s;
  }
  .frame .cell:nth-of-type(18) {
    background-position: -800% -100%;
    transform: rotate(0.25turn);
    transition: all 1.63878082s;
  }
  .frame .cell:nth-of-type(19) {
    background-position: 0% -200%;
    transform: rotate(-0.25turn);
    transition: all 1.00048395s;
  }
  .frame .cell:nth-of-type(20) {
    background-position: -100% -200%;
    transform: rotate(0.25turn);
    transition: all 1.35756631s;
  }
  .frame .cell:nth-of-type(21) {
    background-position: -200% -200%;
    transform: rotate(0.25turn);
    transition: all 1.86161613s;
  }
  .frame .cell:nth-of-type(22) {
    background-position: -300% -200%;
    transform: rotate(0.25turn);
    transition: all 1.28879561s;
  }
  .frame .cell:nth-of-type(23) {
    background-position: -400% -200%;
    transform: rotate(0.25turn);
    transition: all 1.79828755s;
  }
  .frame .cell:nth-of-type(24) {
    background-position: -500% -200%;
    transform: rotate(-0.75turn);
    transition: all 1.83514585s;
  }
  .frame .cell:nth-of-type(25) {
    background-position: -600% -200%;
    transform: rotate(0.25turn);
    transition: all 1.09196632s;
  }
  .frame .cell:nth-of-type(26) {
    background-position: -700% -200%;
    transform: rotate(0.75turn);
    transition: all 1.6144s;
  }
  .frame .cell:nth-of-type(27) {
    background-position: -800% -200%;
    transform: rotate(0.25turn);
    transition: all 1.22678426s;
  }
  .frame .cell:nth-of-type(28) {
    background-position: 0% -300%;
    transform: rotate(0.25turn);
    transition: all 1.81019647s;
  }
  .frame .cell:nth-of-type(29) {
    background-position: -100% -300%;
    transform: rotate(0.25turn);
    transition: all 1.23998929s;
  }
  .frame .cell:nth-of-type(30) {
    background-position: -200% -300%;
    transform: rotate(-0.25turn);
    transition: all 1.50087574s;
  }
  .frame .cell:nth-of-type(31) {
    background-position: -300% -300%;
    transform: rotate(0.25turn);
    transition: all 1.54127329s;
  }
  .frame .cell:nth-of-type(32) {
    background-position: -400% -300%;
    transform: rotate(0.25turn);
    transition: all 1.06205076s;
  }
  .frame .cell:nth-of-type(33) {
    background-position: -500% -300%;
    transform: rotate(0.25turn);
    transition: all 1.00635707s;
  }
  .frame .cell:nth-of-type(34) {
    background-position: -600% -300%;
    transform: rotate(0.25turn);
    transition: all 1.74894249s;
  }
  .frame .cell:nth-of-type(35) {
    background-position: -700% -300%;
    transform: rotate(0.25turn);
    transition: all 1.07436639s;
  }
  .frame .cell:nth-of-type(36) {
    background-position: -800% -300%;
    transform: rotate(0.25turn);
    transition: all 1.55842433s;
  }
  .frame .cell:nth-of-type(37) {
    background-position: 0% -400%;
    transform: rotate(0.25turn);
    transition: all 1.30472264s;
  }
  .frame .cell:nth-of-type(38) {
    background-position: -100% -400%;
    transform: rotate(0.25turn);
    transition: all 1.83816877s;
  }
  .frame .cell:nth-of-type(39) {
    background-position: -200% -400%;
    transform: rotate(0.25turn);
    transition: all 1.1583257s;
  }
  .frame .cell:nth-of-type(40) {
    background-position: -300% -400%;
    transform: rotate(0.25turn);
    transition: all 1.95267305s;
  }
  .frame .cell:nth-of-type(41) {
    background-position: -400% -400%;
    transform: rotate(0.25turn);
    transition: all 1.62131904s;
  }
  .frame .cell:nth-of-type(42) {
    background-position: -500% -400%;
    transform: rotate(0.25turn);
    transition: all 1.17238561s;
  }
  .frame .cell:nth-of-type(43) {
    background-position: -600% -400%;
    transform: rotate(0.25turn);
    transition: all 1.57821612s;
  }
  .frame .cell:nth-of-type(44) {
    background-position: -700% -400%;
    transform: rotate(-0.25turn);
    transition: all 1.71680583s;
  }
  .frame .cell:nth-of-type(45) {
    background-position: -800% -400%;
    transform: rotate(0.25turn);
    transition: all 1.6523211s;
  }
  .frame .cell:nth-of-type(46) {
    background-position: 0% -500%;
    transform: rotate(0.25turn);
    transition: all 1.80850159s;
  }
  .frame .cell:nth-of-type(47) {
    background-position: -100% -500%;
    transform: rotate(0.25turn);
    transition: all 1.08960013s;
  }
  .frame .cell:nth-of-type(48) {
    background-position: -200% -500%;
    transform: rotate(-0.25turn);
    transition: all 1.85165752s;
  }
  .frame .cell:nth-of-type(49) {
    background-position: -300% -500%;
    transform: rotate(-0.25turn);
    transition: all 1.96645693s;
  }
  .frame .cell:nth-of-type(50) {
    background-position: -400% -500%;
    transform: rotate(0.25turn);
    transition: all 1.1931731s;
  }
  .frame .cell:nth-of-type(51) {
    background-position: -500% -500%;
    transform: rotate(-0.25turn);
    transition: all 1.65141403s;
  }
  .frame .cell:nth-of-type(52) {
    background-position: -600% -500%;
    transform: rotate(0.25turn);
    transition: all 1.55094067s;
  }
  .frame .cell:nth-of-type(53) {
    background-position: -700% -500%;
    transform: rotate(-0.25turn);
    transition: all 1.9890101s;
  }
  .frame .cell:nth-of-type(54) {
    background-position: -800% -500%;
    transform: rotate(-0.25turn);
    transition: all 1.10401408s;
  }
  .frame .cell:nth-of-type(55) {
    background-position: 0% -600%;
    transform: rotate(-0.25turn);
    transition: all 1.00043921s;
  }
  .frame .cell:nth-of-type(56) {
    background-position: -100% -600%;
    transform: rotate(-0.25turn);
    transition: all 1.31852372s;
  }
  .frame .cell:nth-of-type(57) {
    background-position: -200% -600%;
    transform: rotate(0.25turn);
    transition: all 1.41290124s;
  }
  .frame .cell:nth-of-type(58) {
    background-position: -300% -600%;
    transform: rotate(0.25turn);
    transition: all 1.23076809s;
  }
  .frame .cell:nth-of-type(59) {
    background-position: -400% -600%;
    transform: rotate(0.25turn);
    transition: all 1.61572679s;
  }
  .frame .cell:nth-of-type(60) {
    background-position: -500% -600%;
    transform: rotate(0.25turn);
    transition: all 1.8532254s;
  }
  .frame .cell:nth-of-type(61) {
    background-position: -600% -600%;
    transform: rotate(0.75turn);
    transition: all 1.31621879s;
  }
  .frame .cell:nth-of-type(62) {
    background-position: -700% -600%;
    transform: rotate(0.25turn);
    transition: all 1.32784694s;
  }
  .frame .cell:nth-of-type(63) {
    background-position: -800% -600%;
    transform: rotate(0.25turn);
    transition: all 1.08678113s;
  }
  .frame .cell:nth-of-type(64) {
    background-position: 0% -700%;
    transform: rotate(0.25turn);
    transition: all 1.37986298s;
  }
  .frame .cell:nth-of-type(65) {
    background-position: -100% -700%;
    transform: rotate(0.25turn);
    transition: all 1.38646095s;
  }
  .frame .cell:nth-of-type(66) {
    background-position: -200% -700%;
    transform: rotate(0.25turn);
    transition: all 1.51004471s;
  }
  .frame .cell:nth-of-type(67) {
    background-position: -300% -700%;
    transform: rotate(0.25turn);
    transition: all 1.83159994s;
  }
  .frame .cell:nth-of-type(68) {
    background-position: -400% -700%;
    transform: rotate(0.25turn);
    transition: all 1.39410662s;
  }
  .frame .cell:nth-of-type(69) {
    background-position: -500% -700%;
    transform: rotate(0.25turn);
    transition: all 1.14797498s;
  }
  .frame .cell:nth-of-type(70) {
    background-position: -600% -700%;
    transform: rotate(0.25turn);
    transition: all 1.18520935s;
  }
  .frame .cell:nth-of-type(71) {
    background-position: -700% -700%;
    transform: rotate(-0.25turn);
    transition: all 1.27265933s;
  }
  .frame .cell:nth-of-type(72) {
    background-position: -800% -700%;
    transform: rotate(0.25turn);
    transition: all 1.01521287s;
  }
  .frame .cell:nth-of-type(73) {
    background-position: 0% -800%;
    transform: rotate(-0.25turn);
    transition: all 1.39842546s;
  }
  .frame .cell:nth-of-type(74) {
    background-position: -100% -800%;
    transform: rotate(0.25turn);
    transition: all 1.66270544s;
  }
  .frame .cell:nth-of-type(75) {
    background-position: -200% -800%;
    transform: rotate(0.25turn);
    transition: all 1.1649726s;
  }
  .frame .cell:nth-of-type(76) {
    background-position: -300% -800%;
    transform: rotate(0.75turn);
    transition: all 1.73056276s;
  }
  .frame .cell:nth-of-type(77) {
    background-position: -400% -800%;
    transform: rotate(0.25turn);
    transition: all 1.63269388s;
  }
  .frame .cell:nth-of-type(78) {
    background-position: -500% -800%;
    transform: rotate(0.25turn);
    transition: all 1.49516018s;
  }
  .frame .cell:nth-of-type(79) {
    background-position: -600% -800%;
    transform: rotate(-0.25turn);
    transition: all 1.61494401s;
  }
  .frame .cell:nth-of-type(80) {
    background-position: -700% -800%;
    transform: rotate(0.25turn);
    transition: all 1.57751092s;
  }
  .frame .cell:nth-of-type(81) {
    background-position: -800% -800%;
    transform: rotate(0.25turn);
    transition: all 1.81180979s;
  }
  .frame .cell:nth-of-type(82) {
    background-position: 0% -900%;
    transform: rotate(0.75turn);
    transition: all 1.23472024s;
  }
  .frame .cell:nth-of-type(83) {
    background-position: -100% -900%;
    transform: rotate(0.75turn);
    transition: all 1.32635421s;
  }
  .frame .cell:nth-of-type(84) {
    background-position: -200% -900%;
    transform: rotate(0.25turn);
    transition: all 1.90645465s;
  }
  .frame .cell:nth-of-type(85) {
    background-position: -300% -900%;
    transform: rotate(0.25turn);
    transition: all 1.44226064s;
  }
  .frame .cell:nth-of-type(86) {
    background-position: -400% -900%;
    transform: rotate(-0.25turn);
    transition: all 1.97455768s;
  }
  .frame .cell:nth-of-type(87) {
    background-position: -500% -900%;
    transform: rotate(0.25turn);
    transition: all 1.28125283s;
  }
  .frame .cell:nth-of-type(88) {
    background-position: -600% -900%;
    transform: rotate(0.25turn);
    transition: all 1.82485783s;
  }
  .frame .cell:nth-of-type(89) {
    background-position: -700% -900%;
    transform: rotate(0.25turn);
    transition: all 1.0359948s;
  }
  .frame .cell:nth-of-type(90) {
    background-position: -800% -900%;
    transform: rotate(0.25turn);
    transition: all 1.66603939s;
  }
  .frame .cell:nth-of-type(91) {
    background-position: 0% -1000%;
    transform: rotate(0.25turn);
    transition: all 1.62508126s;
  }
  .frame .cell:nth-of-type(92) {
    background-position: -100% -1000%;
    transform: rotate(0.25turn);
    transition: all 1.26489337s;
  }
  .frame .cell:nth-of-type(93) {
    background-position: -200% -1000%;
    transform: rotate(0.25turn);
    transition: all 1.67310592s;
  }
  .frame .cell:nth-of-type(94) {
    background-position: -300% -1000%;
    transform: rotate(0.25turn);
    transition: all 1.7127411s;
  }
  .frame .cell:nth-of-type(95) {
    background-position: -400% -1000%;
    transform: rotate(0.25turn);
    transition: all 1.08190764s;
  }
  .frame .cell:nth-of-type(96) {
    background-position: -500% -1000%;
    transform: rotate(0.25turn);
    transition: all 1.80402889s;
  }
  .frame .cell:nth-of-type(97) {
    background-position: -600% -1000%;
    transform: rotate(0.25turn);
    transition: all 1.92622345s;
  }
  .frame .cell:nth-of-type(98) {
    background-position: -700% -1000%;
    transform: rotate(0.75turn);
    transition: all 1.86615359s;
  }
  .frame .cell:nth-of-type(99) {
    background-position: -800% -1000%;
    transform: rotate(-0.25turn);
    transition: all 1.1668181s;
  }
  .frame .cell:nth-of-type(100) {
    background-position: 0% -1100%;
    transform: rotate(0.25turn);
    transition: all 1.52745203s;
  }
  .frame .cell:nth-of-type(101) {
    background-position: -100% -1100%;
    transform: rotate(0.25turn);
    transition: all 1.36281113s;
  }
  .frame .cell:nth-of-type(102) {
    background-position: -200% -1100%;
    transform: rotate(0.75turn);
    transition: all 1.83694564s;
  }
  .frame .cell:nth-of-type(103) {
    background-position: -300% -1100%;
    transform: rotate(0.25turn);
    transition: all 1.70483318s;
  }
  .frame .cell:nth-of-type(104) {
    background-position: -400% -1100%;
    transform: rotate(0.25turn);
    transition: all 1.55255802s;
  }
  .frame .cell:nth-of-type(105) {
    background-position: -500% -1100%;
    transform: rotate(-0.25turn);
    transition: all 1.70882273s;
  }
  .frame .cell:nth-of-type(106) {
    background-position: -600% -1100%;
    transform: rotate(0.25turn);
    transition: all 1.78718371s;
  }
  .frame .cell:nth-of-type(107) {
    background-position: -700% -1100%;
    transform: rotate(0.25turn);
    transition: all 1.00322657s;
  }
  .frame .cell:nth-of-type(108) {
    background-position: -800% -1100%;
    transform: rotate(0.25turn);
    transition: all 1.70978651s;
  }
  .frame:hover .cell {
    transform: rotate(0);
  }